.footer {
    background-color: rgb(182, 182, 182);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.ul {
    min-height: 30px;
    list-style: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.li {
    min-height: 30px;
    margin: 5px;
    margin-top: 15px;
}

 .me {
    text-align: center;
    margin-top: 15px;
    flex-direction: column;
 }

@media screen and (min-width: 30em ){
    .ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .me {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .li {
        flex: 1 0 auto;
        align-items: center;
    }
    
}